#products-carousel {
    .carousel-title {
        font-family: 'Rubik', Arial, Helvetica, sans-serif !important;
        color:#888;
    }
}

#product-images-carousel.owl-theme .owl-nav .owl-next::before, 
#products-carousel #products.owl-theme .owl-nav .owl-next::before {
    content: "\f061";
    font-family: fontawesome;
  }
  #product-images-carousel.owl-theme .owl-nav .owl-prev::before, 
  #products-carousel #products.owl-theme .owl-nav .owl-prev::before {
    content: "\f060";
    font-family: fontawesome;
  }

.woocommerce ul.products li.product .product_after_shop_loop_buttons,
.woocommerce .product_after_shop_loop {
    height:auto !important;
}


.tilter__deco--shine div {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 100%);
}

.category_grid_item {
    .tilter__description {
        font-family:'Rubik', Helvetica, sans-serif !important;
        text-shadow:1px 1px 0px rgb(0, 0, 0) !important;
        font-size:14px;
        font-weight:500 !important;
    }
}

.category_grid_item:hover {
    &.column {
        .tilter__deco--shine div {
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 50%, transparent 100%);
            transform: scaleX(1) scaleY(1) scaleZ(1) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
    }
}

.shortcode_products_slider {
    .owl-nav {
        .owl-prev {
           left:-40px !important;
        }
        .owl-next {
            right:-35px !important;
        }
    }
}

header.site-header .header-wrapper .tools ul li a .counter_number, 
.offcanvas_aside_right .offcanvas_minicart .widget_shopping_cart_content .cart_list li a.remove i, 
.woocommerce-cart .entry-content .woocommerce form table tbody td.product-remove .remove, 
.woocommerce #content table.wishlist_table.cart a.remove, #yith-wcwl-form .shop_table.mobile li .item-wrapper .product-thumbnail .product-remove a
{
    box-shadow: 1px 1px 5px 0px rgb(217 17 131 / 40%);
}

.woocommerce-cart .entry-content .woocommerce form table tbody td.product-remove .remove {
    font-size:14px;
    line-height:18px;
    
}


/* product specific pages */
.woocommerce.shortcode_products_listing,
.archive  .products-grid 
{
    .product-card {
        .price .woocommerce-Price-amount {
            font-size: 1rem;
            margin: 2px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}

.product {
    table.variations {
        margin-bottom:2.5rem;

        tr {
            border:0;
        }
        th, td {
            padding-top:5px;
            padding-bottom:5px;

            label,
            input, select {
                min-width:100%;
                width:100%;
                max-width:100%;
            }

            .reset_variations {
                margin-top:1rem;
            }
        }
    }
}

@import
"product_media";