#products-carousel {
    .carousel-title {
        font-family: 'Rubik', Arial, Helvetica, sans-serif !important;
        color:#888;
    }
}

#product-images-carousel.owl-theme .owl-nav .owl-next::before, 
#products-carousel #products.owl-theme .owl-nav .owl-next::before {
    content: "\f061";
    font-family: fontawesome;
  }
  #product-images-carousel.owl-theme .owl-nav .owl-prev::before, 
  #products-carousel #products.owl-theme .owl-nav .owl-prev::before {
    content: "\f060";
    font-family: fontawesome;
  }

.woocommerce ul.products li.product .product_after_shop_loop_buttons,
.woocommerce .product_after_shop_loop {
    height:auto !important;
}


.tilter__deco--shine div {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, transparent 100%);
}

.category_grid_item {
    .tilter__description {
        font-family:'Rubik', Helvetica, sans-serif !important;
        text-shadow:1px 1px 0px rgb(0, 0, 0) !important;
        font-size:14px;
        font-weight:500 !important;
    }
}

.category_grid_item:hover {
    &.column {
        .tilter__deco--shine div {
            background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 0%, rgba(255, 255, 255, 0) 50%, transparent 100%);
            transform: scaleX(1) scaleY(1) scaleZ(1) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
    }
}

.shortcode_products_slider {
    .owl-nav {
        .owl-prev {
           left:-40px !important;
        }
        .owl-next {
            right:-35px !important;
        }
    }
}


/* product specific pages */
.woocommerce.shortcode_products_listing,
.archive  .products-grid 
{
    .product-card {
        .price .woocommerce-Price-amount {
            font-size: 1rem;
            margin: 2px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}