@include media-breakpoint-down(sm) {
    .product-card {
        .button.jelly {
    
            a, a:active {
                font-size:12px;
    
                i {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }
    
                &.added_to_cart {
                    font-size:10px;

                    i {
                        display: block;
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                }
            
                &.added_to_cart {
                    font-size:1rem;
                    line-height:1rem !important;
                    padding:0.5rem 1rem;
                    display:inline-block;
                }    
            }
        }
    }
    
}