form {
  p.form-row {
    margin-bottom:0.25rem;
  }
}

input[type=submit], button[type=submit], input[type=button] {
  background-color: rgba(255, 20, 153, 0.75);
  color:rgba(255, 255, 255, 0.75);
  
  &:hover {
    background-color: rgba(255, 20, 153, 1);
    color:rgba(255, 255, 255, 1);
  }
}

.widget-area .widget.widget_product_tag_cloud {
  a {
      border-color: rgba(255, 20, 153, 0.5);
      &:hover {
      color:rgba(255, 255, 255, 1);
    }
  }
}

.account-forms-container .account-forms form.login-form .lost_password, 
.account-forms-container .account-forms form.register .lost_password, 
.account-forms-container .account-forms form.track_order .lost_password {
  float:none !important;
  margin: auto !important;
}

.woocommerce-shipping-fields #ship-to-different-address,
.woocommerce-account-fields .create-account {
  margin: 1rem 0;
  
  label {
    font-family: Rubik,Arial,Helvetica,sans-serif!important;
    font-size: 18px !important;
    font-weight: 300;
  }
}
.woocommerce-account-fields .create-account {
  margin-top:2rem;
}


/****** contact form 7 ******/
.wpcf7-form-control {
  &.wpcf7-submit {
    margin-top:1.5rem;
    color:#fff;
    font-size:14px !important;
    font-weight:400 !important;

    &:hover {
      opacity:0.75;
    }
  }
} 

/****** mailchimp ******/
#mc_embed_signup {
  
  .minimal-form-input {
    padding-top:10px !important;

    input {
      border:1px solid #888888 !important;
    }

    input[type=email] {
      padding:10px;
    }

    label {
      display:none !important;
      
    }
  }

  .indicates-required, 
  .mce_inline_error{
    font-size:12px !important;
    color:#cecece !important;
  }

  .mce_inline_error {
    background:none !important;
    color:#ff0000;
  }


}

#mc-embedded-subscribe-form input::-webkit-input-placeholder { /* WebKit browsers */
	color: #dedede;
  opacity:1;
}

#mc-embedded-subscribe-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #dedede;
	opacity: 1;
}

#mc-embedded-subscribe-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #dedede;
	opacity: 1;
}

#mc-embedded-subscribe-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #dedede;
  opacity:1;
}


@import
"form_media";
