/****** contact form 7 ******/
.wpcf7-form-control {
  &.wpcf7-submit {
    margin-top:1.5rem;
    color:#fff;
    font-size:14px !important;
    font-weight:400 !important;

    &:hover {
      opacity:0.75;
    }
  }
} 

/****** mailchimp ******/
#mc_embed_signup {
  
  .minimal-form-input {
    padding-top:10px !important;

    input {
      border:1px solid #888888 !important;
    }

    input[type=email] {
      padding:10px;
    }

    label {
      display:none !important;
      
    }
  }

  .indicates-required, 
  .mce_inline_error{
    font-size:12px !important;
    color:#cecece !important;
  }

  .mce_inline_error {
    background:none !important;
    color:#ff0000;
  }


}

#mc-embedded-subscribe-form input::-webkit-input-placeholder { /* WebKit browsers */
	color: #dedede;
  opacity:1;
}

#mc-embedded-subscribe-form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #dedede;
	opacity: 1;
}

#mc-embedded-subscribe-form input::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #dedede;
	opacity: 1;
}

#mc-embedded-subscribe-form input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #dedede;
  opacity:1;
}


@import
"form_media";
