.product-card {

    a {
        letter-spacing: inherit !important;
    }

    ul.card-action-buttons {

        button {
            cursor:default !important;
        }
        

        margin: -30px 3px 0 0;
        text-align: right;

        .btn-wish {
            color: #fff;
            background-color: rgb(255, 255, 255);
            border-color: rgba(237, 237, 237, 0.30);
            box-shadow: 1px 1px 3px rgb(255 137 204 / 30%);

            &:hover {
                background-color:  rgba(237, 237, 237, 0.30);
            }
        }               

        li {
            display: inline-flex;
            padding-left: 0;
          }
      }

    /* can be on different pages - carousel blocks */
    .card {
        margin: 20px;
        overflow: hidden;
        border:1px solid rgba(255, 20, 154, 0.1);

        .card-header {
            border-bottom: 1px solid rgba(255, 20, 154, 0.1);
            min-height:120px;
        } 

        .price-wrapper {
           background:rgba(255, 20, 154, 0.75);
        }

        .card-content {
            padding: 5px;
        }
          

        .price {
            color:#fff !important;

            .woocommerce-Price-amount {
                font-weight: 600;
                font-size: 1.25rem;
                color:#fff !important;
                margin: 10px;
            }

            .woocommerce-Price-currencySymbol {
              font-size:0.75rem;
              font-weight:100;
            }
        } 

        .card-header {
          .shop_product_title {
              font-size: 1.25rem;
              font-weight: 100;
              line-height:1.5rem;
          }
        }
    }

    .yith-wcwl-add-button,
    .yith-wcwl-wishlistaddedbrowse, 
    .yith-wcwl-wishlistexistsbrowse {
        i {
            display:none;
        }
    }

    .yith-wcwl-add-button a:before,
    .yith-wcwl-wishlistaddedbrowse a:before, 
    .yith-wcwl-wishlistexistsbrowse a:before {
        letter-spacing: inherit !important;
        color:rgb(255, 20, 154) !important;
        line-height: inherit !important;
        font-size:1.1rem;
    }

    .yith-wcwl-add-button a:before {
        color:rgb(255, 20, 154, 0.15) !important;
    }

    .yith-wcwl-add-button:hover a:before {
        color:rgb(255, 20, 154, 0.75) !important;
    }

    .btn-circle {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: 0;
        border-radius: 50%;
      }
      
      .btn-circle i {
        position: relative;
        top: -1px;
        line-height:inherit !important;
      }
      
      .btn-circle-sm {
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 0.9rem;
      }
      
      .btn-circle-lg {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 1.1rem;
      }
      
      .btn-circle-xl {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 1.3rem;
      }
}


  @import "card_media";