.page-header .title-section {
    margin-top:50px;
}

/* widgets */

.shortcode_title,
#tags {
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

footer .column-widget,
.site-content .widget-area .widget {
     .widget-title {
        font-family: 'Rubik', Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
}

#mc_embed_signup {
    .optionalParent {
        text-align:left;
        margin-top:1rem;
    }

    #mc-embedded-subscribe {
        width: auto !important;
    }

    .minimal-form-input input[type="email"] {
        padding:5px;
    }

    p {
        margin:0;
    }
}

@import
"common_media";