.page-header .title-section {
    margin-top:50px;
}

/*** widgets ***/
.vc_sep_holder.vc_sep_holder_r {
    display:none;
}

/*** contents ***/

.woocommerce-cart .woocommerce .cart-empty .cart-empty-text,
.widget-area .widget.widget_price_filter .price_slider_amount .button,
.vc_custom_1456090660314 .wpb_wrapper h1,
.vc_custom_1456090660314 .wpb_wrapper h2,
.vc_custom_1456090660314 .wpb_wrapper h3,
.vc_custom_1456090660314 .wpb_wrapper h4,
.vc_custom_1456090660314 .wpb_wrapper h5,
.vc_separator.vc_separator_align_left h1,
.vc_separator.vc_separator_align_left h2,
.vc_separator.vc_separator_align_left h3,
.vc_separator.vc_separator_align_left h4,
.vc_separator.vc_separator_align_left h5,
.vc_custom_heading,
.shortcode_title,
#tags {
    font-family: 'Rubik', Arial, Helvetica, sans-serif !important;
}

/*** my wishlist ***/
.yith-wcwl-share {
    display:none;
}

/*** social media popup ***/
.arthref .icon-container .share-title h1,
.arthref .icon-container .share-title h2,
.arthref .icon-container .share-title h3,
.arthref .icon-container .share-title h4 {
    font-family: 'Rubik', Arial, Helvetica, sans-serif !important;
}

/*** my account ***/
.my_account_container {

    label {
        text-transform:none;
    }

    em {
        font-size: 12px;
        font-weight: 100;
        margin-top: 0.25rem;
    }

    h1,h2,h3 {
        font-family: 'Rubik', Arial, Helvetica, sans-serif !important;
    }

    fieldset {
        margin-top:2rem;
    }

    .edit-link a {
        color:#fff !important;
        text-transform:none !important;
    }
}


/*** checkout ***/
.showcoupon {
    color: rgb(13, 110, 253);
}
.woocommerce-checkout:not(.woocommerce-order-received) .checkout_coupon_box .checkout_coupon .button {
    color:#fff;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}


/*** footer ***/
footer .column-widget,
.site-content .widget-area .widget {
     .widget-title {
        font-family: 'Rubik', Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
}

@import
"common_media";