.offcanvas_aside .offcanvas_aside_content {
  padding: 75px 30px;

  .widget_shopping_cart_content .buttons .button.btn1.wc-forward.cart-but,
  .widget_shopping_cart_content .buttons .checkout {
    font-size:1rem;
    margin-bottom:1rem !important;
    span {
      font-weight:500;
    }
  }
}

.offcanvas_aside_content .cart-title {
  text-transform:capitalize !important;
}

.offcanvas_aside_content .search-title,
.offcanvas_aside_content .woocommerce-mini-cart-item a {
  font-family: 'Rubik', sans-serif !important;
  text-transform:capitalize !important;
}

.offcanvas_aside_right .offcanvas_minicart .widget_shopping_cart_content .cart_list li a.remove i{
  background:#cecece;
  box-shadow:none;
  color:#fff;
  
  &:hover {
    background:#5d5d5d;
  }
}

.offcanvas_aside_right .empty-cart-offcanvas-box span {
  background: #efefef;
  left: 0;
}